{{#if logged_in}}

{{#each blogposts as |blogpost|}}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                {{ blogpost.name }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ blogpost.date_created }}</h5>
            </div>
        </div>
    </div>
</div>
{{/each}}

{{else}}
{{#each blogposts as |blogpost|}}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                {{ blogpost.name }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ blogpost.date_created }}</h5>
                <p class="card-text">{{ blogpost.description }}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}

{{/if}}